
/* main header */
.main-header {
	background: #e6e6e6
	
}

.main-header > .wrap > * {

}

/* main content */
.main {
	height: auto;
}

.main > .wrap > * {

}
1`
/* main footer */
.main-footer {
	background: #000;
	box-shadow: 0 0 5px #000;
}

.main-footer > .wrap > * {
	
}

/* navigation menus overlap */
.main-nav-menu {
	display: inline-block;
	text-align: center;
}

.main-nav-menu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-nav-menu > ul > li {
	text-decoration: none;
	font-weight: none;
}

.main-nav-menu > ul > li > a {
	display: inline-block;
	text-decoration: none;
}