
/* main header */
.main-header {
	height: 12%;
	background: #DCD1B4;
	box-shadow: 0 0 10px #000;
}

.main-header > .wrap > * {

}

/* main content */
.main {
	min-height: 65%;
}

.main > .wrap > * {

}

/* main footer */
.main-footer {
	height: 23%;
	background: #262626;
	box-shadow: 0 0 10px #000;
}

.main-footer > .wrap > * {
	
}
