/* landing module */
.landing {
	position: relative;
	height: 100%;
	width: 100%;
	background: #CE4648;
}

.landing-content > .logo {
	width: 90%;
}

.landing-buttons {
	margin-top: 10%;
}

.landing-buttons a, .browse-button {
	width: 100%;
	font-family: "Century Gothic", Arial, sans-serif;
}

/* join module */
.join {
	width: 100%;
}

.join-content, .login-content {
	padding-top: 30px;
}

.join-content > section {
	background: rgba(255,255,255,0.75);
	margin: 0 auto 20px;
}

.join-now-button, .login-now-button {
	position: fixed;
	left: 0; bottom: 0;
	width: 100%;
	background: #524556;
	padding: 20px 0;
	font-size: 1.5rem;
	color: #fff;
}

/* logo banner */
.logo-banner {
	width: 100%;
	background: #CE4648;
	color: #fff;
	padding: 20px 0;
}

.logo-banner img {
	width: 50%;
	max-width: 300px;
}

/* login */
.join, .login {
	padding-bottom: 40px;
}

.login-content form {
	margin-bottom: 10px;
}

.login-content .control, .login-content > * {
	max-width: 300px;
}

.control > * {
	height: 45px;
}

.login-buttons > * {
	width: 49%;
}

.login-extras > * {
	display: block;
	font-size: 0.8rem;
	padding: 3px;
}

.login-with-facebook {
	width: 100%;
}

/* search module - search box */
.search-module {
	width: 100%;
	background: #a43839;
	padding: 30px 0;
}

.search-wrap {
}

.search-box {
  width: 100%;
  white-space: nowrap;
  position: relative;
}

.search-box input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 1rem;
  color: #aaa;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search-module * {
	height: 100%;
}

.search-module > div > div > div {
	height: 50px;
}

.search-container input::-webkit-input-placeholder {
   color: #aaa;}
.search-container input:-moz-placeholder {
   color: #aaa;}
.search-container input::-moz-placeholder {
   color: #aaa;}
.search-container input:-ms-input-placeholder {  
   color: #aaa;}

/* search module - selections */
.search-options .radio {
	margin: 0;
	padding: 0;
	background: #CE4648;
	width: 50%;
	color: #fff;
	padding: 18px 0 0 45px;
}

.search-options .radio > input {
	margin-top: 18px;
	margin-left: 25px;
}

/* search module - submission */
.search-module .button {
	width: 100%;
}

/* feature box */
.front-feature {
	width: 100%;
	background: url('../img/photography/bike-path-edit.jpg');
	background-size: cover;
	background-position: bottom;
	margin: 0;
	padding: 30px 0;
}

/* front box nav */
.feature-link-box {
	display: block;
	width: 100%;
	margin: 40px 0;
}

.feature-link {
	background: rgba(255,255,255,0.75);
	color: #657571;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 5px;
	padding: 7.5%;
}

.feature-link > a {
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}

.feature-link > p {
	height: 60%;
	line-height: 1.5rem;
	overflow: hidden;
}

.feature-nav-menu > ul > li > span {
	display: inline;
}

.feature-link-box .fa {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #aaa;
}
