/* main navigation structure */
.main-nav-menu {
	width: 100%;
}

.main-nav-menu > ul {
	width: 100%;
}

.main-nav-menu > ul > li {
	display: inline-block;
	font-size: 1.25rem;
}

.main-nav-menu > ul > li > a {
	background: #CE4648;
	color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	font-family: "Century Gothic", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	margin: 2px;
}


.main-header .main-nav-menu li {
	width: 25%;
	margin: 3%;
}

.main-header .main-nav-menu li:first-of-type {
	margin-left: 0;
}

.main-header .main-nav-menu li:last-of-type {
	margin-right: 0;
}


.main-footer .main-nav-menu > ul {
	padding: 30px 0;
}

.main-footer .main-nav-menu > ul > li {
	display: block;
	width: 60%;
	margin: 0 auto 15px;
}

.main-footer .main-nav-menu > ul > li:last-of-type {
	margin-bottom: 0;
}

.main-footer .main-nav-menu > ul > li > a {

}


/* feature box */
.front-feature {
	width: 100%;
	background: url('../img/photography/bike-path-edit.jpg');
	background-size: cover;
	background-position: bottom;
}

/* create profile features */
.create-profile {
	display: block;
	margin: 10px 0 10px;
}

.create-profile > a {
	display: block;
	width: 100%;
	height: 100%;
	width: 100%;
	color: #CE4648;
	border: 2px solid #CE4648;
	padding: 10px 0;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
}

/* front box nav */
.feature-links {
	margin: 6% 0 0;
}

.feature-link-box {
	display: block;
	width: 100%;
	margin: 30px 0;
}

.feature-link {
	background: rgba(255,255,255,0.6);
	color: #657571;
	height: 200px;
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	padding: 7.5%;
}

.feature-link > a {
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	border-top: 1px dashed #CE4648;
	border-bottom: 1px dashed #CE4648;
}

.feature-link > p {
	height: 60%;
	overflow: hidden;
}

.feature-nav-menu > ul > li > span {
	display: inline;
}

/* large typography */

/* logo */
.logo-module {
	background: #CE4648;
	text-align: center;
	width: 100%;
	padding: 5%;
}

.logo {
	width: 50%;
}

/* user profile */
.user-profile {

}

.user-profile-banner {

}

.user-profile-details {

}

.user-profile-category {

}

.detail-item {

}

/* housing */
