/* main navigation structure */
.main-nav-menu {
	width: 100%;
}

.main-nav-menu > ul > li {
	margin: 0 5px;
	height: 2.5rem;
	margin: 10px 0;
	width: 100%;
}

.main-nav-menu > ul > li:first-of-type {
	margin-left: 0;
}

.main-nav-menu > ul > li > a {
	display: inline-block;
	padding: 10px 15px 0;
	height: 100%;
	background: #524556;
	color: #fff;
	width: 100%;
}

/* feature box */
.front-feature {
	width: 100%;
	height: 500px;
	background: url('../img/photography/bike-path-edit.jpg');
	background-size: cover;
	background-position: bottom;
}

/* create profile features */
.create-profile {
	display: block;
}

.create-profile > a {
	display: block;
	width: 100%;
	height: 100%;
	width: 100%;
	height: 2.5rem;
	color: #EC7B59;
	border: 2px solid #EC7B59;
	padding: 10px 0;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 0.8rem;
}

/* front box nav */
.feature-links {
	margin: 6% 0 0;
}

.feature-link-box {
	display: inline-block;
	width: 33.333%;
}

.feature-link {
	background: #fff;
	color: #657571;
	height: 200px;
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	padding: 7.5%;
}

.feature-link > a {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	border-top: 1px dashed #CE4648;
	border-bottom: 1px dashed #CE4648;
}

.feature-link > p {
	height: 60%;
	overflow: hidden;
}

.feature-nav-menu > ul > li > span {
	display: inline;
}

/* large typography */
.large-header-title {
	color: #fff;
	font-size: 3rem;
	text-align: center;
	margin: 15% 0;
	font-family: "Garamond", "Times New Roman", serif;
	letter-spacing: 5px;
}