/* <<<<<<< HEAD >>>>>>> 118de9780e35005c337634345b391c6663633237 */
/* base edits */
a:hover {
	color: #d46e50;
}

/* main navigation menu states */
.main-nav-menu > ul > li > a:hover {
	color: #fff;
	background: #CE4648;
	transition: 0.3s;
}

.main-nav-menu > ul > li > a:active {
}

.main-nav-menu .active {
	color: #524556;
	background: #fff;
	max-width: 50%;
}

/* create profile states */
.create-profile:hover > a {
	background: #EC7B59;
	color: #fff;
	transition: 0.3s;
}

/* feature area states */
.feature-link > a:hover {
	background: #CE4648; 
	color: #fff;
	border-top: 1px dashed #CE4648;
	border-bottom: 1px dashed #CE4648;
	transition: 0.3s;
}
